In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('sp500_full.csv')

In [3]:
data.head()

  ticker        Date  Adj Close  Close  High   Low  Open     Volume
0    AAL  2008-12-31   7.405228   7.73  7.87  7.48  7.48  4194100.0
1    AAL  2009-01-02   8.037499   8.39  8.48  7.67  7.73  5167000.0
2    AAL  2009-01-05   7.980019   8.33  8.39  7.96  8.38  3457100.0
3    AAL  2009-01-06   8.679349   9.06  9.21  8.13  8.15  5731000.0
4    AAL  2009-01-07   8.698509   9.08  9.47  8.66  8.66  5468900.0

In [4]:
data.shape

(1254420, 8)

In [5]:
data['ticker'].nunique()

505

In [6]:
tickers = pd.read_csv('constituents_csv.csv')
tickers = tickers.rename(index = str, columns = {'Symbol': 'ticker'})

In [7]:
data = pd.merge(data, tickers, how = 'left', on = 'ticker')

In [8]:
tickers.head()

  ticker                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [9]:
data.head()

,ticker,Date,Adj Close,Close,High,Low,Open,Volume,Name,Sector
0,AAL,2008-12-31,7.405228,7.73,7.87,7.48,7.48,4194100.0,American Airlines Group,Industrials
1,AAL,2009-01-02,8.037499,8.39,8.48,7.67,7.73,5167000.0,American Airlines Group,Industrials
2,AAL,2009-01-05,7.980019,8.33,8.39,7.96,8.38,3457100.0,American Airlines Group,Industrials
3,AAL,2009-01-06,8.679349,9.06,9.21,8.13,8.15,5731000.0,American Airlines Group,Industrials
4,AAL,2009-01-07,8.698509,9.08,9.47,8.66,8.66,5468900.0,American Airlines Group,Industrials

In [10]:
data2 = data.dropna()

In [11]:
data2['ticker'].nunique()

487

,ticker,Date,Adj Close,Close,High,Low,Open,Volume,Name,Sector
0,AAL,2008-12-31,7.405228,7.730000,7.870000,7.480000,7.480000,4194100.0,American Airlines Group,Industrials
1,AAL,2009-01-02,8.037499,8.390000,8.480000,7.670000,7.730000,5167000.0,American Airlines Group,Industrials
2,AAL,2009-01-05,7.980019,8.330000,8.390000,7.960000,8.380000,3457100.0,American Airlines Group,Industrials
3,AAL,2009-01-06,8.679349,9.060000,9.210000,8.130000,8.150000,5731000.0,American Airlines Group,Industrials
4,AAL,2009-01-07,8.698509,9.080000,9.470000,8.660000,8.660000,5468900.0,American Airlines Group,Industrials
5,AAL,2009-01-08,9.167923,9.570000,9.670000,8.620000,8.950000,5196400.0,American Airlines Group,Industrials
6,AAL,2009-01-09,8.621870,9.000000,9.380000,8.880000,9.340000,5113200.0,American Airlines Group,Industrials
7,AAL,2009-01-12,8.181195,8.540000,9.160000,8.270000,9.150000,3306600.0,American Airlines Group,Industrials
8,AAL,2009-01-13,7.922542,8.270000,8.660000,8.110000,8.350000,3743800.0,American Airlines Group,Industrials
9,AAL,2009-01-14,7.079513,7.390000,8.160000,7.250000,8.120000,6360700.0,American Airlines Group,Industrials
10,AAL,2009-01-15,7.232792,7.550000,9.700000,6.850000,7.390000,18008000.0,American Airlines Group,Industrials
11,AAL,2009-01-16,8.171617,8.530000,8.660000,7.750000,8.030000,9593900.0,American Airlines Group,Industrials
12,AAL,2009-01-20,7.309430,7.630000,8.470000,7.560000,8.350000,6274600.0,American Airlines Group,Industrials
13,AAL,2009-01-21,7.223211,7.540000,7.860000,6.550000,7.860000,10047600.0,American Airlines Group,Industrials
14,AAL,2009-01-22,7.328590,7.650000,7.750000,7.090000,7.320000,5799600.0,American Airlines Group,Industrials
15,AAL,2009-01-23,7.491447,7.820000,8.000000,7.030000,7.100000,5693700.0,American Airlines Group,Industrials
16,AAL,2009-01-26,7.376488,7.700000,8.020000,7.520000,7.790000,3242800.0,American Airlines Group,Industrials
17,AAL,2009-01-27,6.428083,6.710000,7.800000,6.260000,7.730000,8829700.0,American Airlines Group,Industrials
18,AAL,2009-01-28,6.993295,7.300000,7.460000,6.920000,7.040000,6342100.0,American Airlines Group,Industrials
19,AAL,2009-01-29,6.198166,6.470000,7.750000,6.330000,7.150000,9766200.0,American Airlines Group,Industrials
20,AAL,2009-01-30,5.431778,5.670000,6.730000,5.390000,6.590000,10869200.0,American Airlines Group,Industrials
21,AAL,2009-02-02,5.479677,5.720000,5.800000,5.190000,5.620000,6014800.0,American Airlines Group,Industrials
22,AAL,2009-02-03,5.527576,5.770000,5.990000,5.450000,5.990000,4753800.0,American Airlines Group,Industrials
23,AAL,2009-02-04,5.240180,5.470000,6.150000,5.420000,5.540000,6526900.0,American Airlines Group,Industrials
24,AAL,2009-02-05,5.000685,5.220000,5.800000,4.750000,5.380000,9811700.0,American Airlines Group,Industrials
25,AAL,2009-02-06,5.240180,5.470000,5.670000,5.200000,5.430000,7073500.0,American Airlines Group,Industrials
26,AAL,2009-02-09,5.182702,5.410000,5.470000,5.250000,5.450000,5124900.0,American Airlines Group,Industrials
27,AAL,2009-02-10,4.847407,5.060000,5.500000,5.010000,5.250000,5725700.0,American Airlines Group,Industrials
28,AAL,2009-02-11,4.387574,4.580000,5.200000,4.400000,5.140000,9728700.0,American Airlines Group,Industrials
29,AAL,2009-02-12,4.531272,4.730000,4.900000,4.420000,4.650000,6933000.0,American Airlines Group,Industrials
...,...,...,...,...,...,...,...,...,...,...
1254390,XOM,2018-10-01,84.948853,85.809998,86.029999,85.260002,85.349998,8566900.0,Exxon Mobil Corp.,Energy
1254391,XOM,2018-10-02,85.592331,86.459999,86.669998,85.620003,85.800003,8453100.0,Exxon Mobil Corp.,Energy
1254392,XOM,2018-10-03,85.285439,86.150002,86.889999,85.980003,86.510002,10206700.0,Exxon Mobil Corp.,Energy
1254393,XOM,2018-10-04,84.721161,85.580002,86.080002,85.250000,85.500000,10204600.0,Exxon Mobil Corp.,Energy
1254394,XOM,2018-10-05,84.483566,85.339996,85.699997,84.930000,85.309998,9217400.0,Exxon Mobil Corp.,Energy
1254395,XOM,2018-10-08,85.265640,86.129997,86.309998,84.650002,84.790001,13242400.0,Exxon Mobil Corp.,Energy
1254396,XOM,2018-10-09,85.641830,86.510002,86.879997,85.739998,86.379997,10177900.0,Exxon Mobil Corp.,Energy
1254397,XOM,2018-10-10,83.671799,84.519997,86.820000,84.500000,86.730003,16573400.0,Exxon Mobil Corp.,Energy
1254398,XOM,2018-10-11,80.781097,81.599998,84.169998,81.169998,83.940002,20320100.0,Exxon Mobil Corp.,Energy
1254399,XOM,2018-10-12,80.563309,81.379997,82.239998,80.269997,82.129997,15216300.0,Exxon Mobil Corp.,Energy
1254400,XOM,2018-10-15,80.008926,80.820000,81.739998,80.820000,81.379997,10558800.0,Exxon Mobil Corp.,Energy
1254401,XOM,2018-10-16,80.385117,81.199997,81.269997,80.010002,80.510002,9781800.0,Exxon Mobil Corp.,Energy
1254402,XOM,2018-10-17,80.682106,81.500000,81.519997,80.339996,80.940002,12247700.0,Exxon Mobil Corp.,Energy
1254403,XOM,2018-10-18,81.028595,81.849998,82.470001,81.199997,81.199997,17448600.0,Exxon Mobil Corp.,Energy
1254404,XOM,2018-10-19,81.147392,81.970001,82.459999,81.510002,81.660004,12098700.0,Exxon Mobil Corp.,Energy
1254405,XOM,2018-10-22,80.335617,81.150002,82.180000,80.639999,82.000000,9474100.0,Exxon Mobil Corp.,Energy
1254406,XOM,2018-10-23,79.038757,79.839996,80.459999,78.720001,80.059998,15465100.0,Exxon Mobil Corp.,Energy
1254407,XOM,2018-10-24,76.841049,77.620003,80.260002,77.550003,80.129997,16085700.0,Exxon Mobil Corp.,Energy
1254408,XOM,2018-10-25,77.524117,78.309998,79.050003,77.739998,78.489998,12315500.0,Exxon Mobil Corp.,Energy
1254409,XOM,2018-10-26,76.751945,77.529999,78.410004,76.959999,77.870003,18160100.0,Exxon Mobil Corp.,Energy
1254410,XOM,2018-10-29,76.276764,77.050003,78.430000,76.220001,78.070000,15707000.0,Exxon Mobil Corp.,Energy
1254411,XOM,2018-10-30,77.989403,78.779999,79.029999,77.419998,77.620003,17758200.0,Exxon Mobil Corp.,Energy
1254412,XOM,2018-10-31,78.880371,79.680000,80.349998,78.900002,79.339996,16629100.0,Exxon Mobil Corp.,Energy
1254413,XOM,2018-11-01,79.860435,80.669998,80.750000,79.300003,79.830002,14159300.0,Exxon Mobil Corp.,Energy
1254414,XOM,2018-11-02,81.127586,81.949997,82.449997,80.230003,81.760002,19350400.0,Exxon Mobil Corp.,Energy
1254415,XOM,2018-11-05,80.820702,81.639999,82.870003,81.440002,82.500000,15815000.0,Exxon Mobil Corp.,Energy
1254416,XOM,2018-11-06,81.167183,81.989998,82.099998,81.349998,81.739998,9063200.0,Exxon Mobil Corp.,Energy
1254417,XOM,2018-11-07,82.196747,83.029999,83.139999,81.660004,82.209999,12699800.0,Exxon Mobil Corp.,Energy
1254418,XOM,2018-11-08,80.889999,81.709999,83.750000,81.540001,83.129997,16865500.0,Exxon Mobil Corp.,Energy
1254419,XOM,2018-11-09,80.870003,80.870003,81.400002,79.690002,80.260002,15070100.0,Exxon Mobil Corp.,Energy

In [24]:
ticker_full = list(set(data['ticker']))
ticker_not_full = list(set(data2['ticker']))

In [25]:
result = list((Counter(ticker_full) - Counter(ticker_not_full)).elements())

In [26]:
result

['WCG',
 'JEF',
 'JKHY',
 'BF-B',
 'TWTR',
 'BRK-B',
 'FLT',
 'FTNT',
 'CPRT',
 'EVRG',
 'ROL',
 'ANET',
 'BR',
 'MSCI',
 'LIN',
 'KEYS',
 'HFC',
 'ABMD']

In [12]:
data.to_csv('for_cloud.csv', index = False)